.p-card {
    border-radius: 20px !important;
}

.p-password input {
    width: 100%;
}

.p-text input {
    width: 100%;
}

.p-card-title {
    color: #561561;
}

.p-card-subtitle {
    color: #af50bf !important;
}
